body {
    font-family: 'Roboto Slab', serif;
}

/* Headers */

h1, h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    margin: 0.5em auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

/* Navigation Bar */

nav {
    background-color: #D61355;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 100px;
}

.nav-right {
    width: 80%;
}

.nav-right a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: pink;
}

.nav-right a:hover {
    color: white;
}

.nav-right a:active {
    color:  cyan;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* Header */
header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3em;
}

header p {
    width: 70%;
    margin: 1.1em auto;
}

/* Duck */
#duck {
    background-color: #30e3df;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#duck h2 {
    text-transform: capitalize;
}

#duck > * {
    margin: 1em;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p {
    text-align: center;
    text-shadow: 1px 1px 2px white, 0 0 1em coral, 0 0 0.2em coral;
}

.text button {
    background-color: #ffd800;
    margin-top: 20px;
    padding: 0.3em 0.8em;
    font-size: 1.2em;
}

.text button:hover {
    box-shadow: 0 0 5px black;
}

.text button:active {
    box-shadow: inset 0 0 5px black;
}

.duck img {
    width: 300px;
}

/* Emergency */
#emergency {
    background-color: #f94a29;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 80%;
    margin: 5px auto;
}

.grid-container a {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: darkblue;
    margin: 0.2em;
}

.grid-container a:hover {
    color: #f94a29;
    box-shadow: 0 0 5px white;
}

.grid-item {
    background-color: #fce22a;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

/* Footer */
footer {
    background-color: #D61355;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

footer > * {
    padding: 0.2em;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form > *:not(button) {
    background-color: #ffffffaa;
    margin: 0.5em;
    padding: 0.3em;
    border: 2px solid #f94a29;
}

footer form > *:not(button):focus {
    border: 2px solid #fce22a;
}

footer form button {
    padding: 0.3em 0.8em;
    background-color: #9e0f41;
    border: 1px solid pink;
    border-radius: 2px;
    color: pink;
}

footer form button:hover {
    box-shadow: 0 0 5px white;
}

footer form button:active {
    box-shadow: inset 0 0 5px #5b0926;
}

footer img {
    width: 40px;
    padding: 0.4em;
    vertical-align: middle;
}
